p,
h1,
h2,
h3,
div {
  font-family: Roboto, RobotoDraft, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.mail-context-image img {
  height: 50px;
}

.container {
  max-width: 800px;
  margin: auto;
}

.if-highlight-text {
  font-size: 28px;
  color: #5ac8fa;
}

.if-btn {
  padding: 15px 35px;
  text-decoration: none;
  border-radius: 8px;
  background-color: #23C066;
  color: #fff;
}

.if-link {
  color: #5ac8fa;
}

.huge-gap {
  padding: 32px 0;
}

.footer-container {
  margin-top: 64px;
  background-color: #f4f7fb;
}

.footer-inner {
  max-width: 800px;
  margin: auto;
  padding: 20px 0;
}

.footer-logo {
  height: 38px;
}

.logo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons{
  width: 100%;
  float: right;
}

.left-side{
  float: left;
  width:100%;
}
